.inputContainer {
  @apply flex flex-col justify-center;
}

.inputLabel {
  @apply leading-[100%] w-full text-sm font-semibold mb-2;
}

.inputText {
  @apply bg-neutral-900 rounded w-full h-8 p-2 hover:rounded-lg transition-all duration-300
  flex items-center focus-within:outline-none
  ring-amber-500/30 focus-within:ring-offset-amber-500 focus-within:ring-4 focus-within:ring-offset-2;
  box-shadow: 
    0 1px 2px 1px rgba(0, 0, 0, 0.15) inset,
    0 1px 0 0px rgba(255,255,255,0.1);
}

.inputRange {
  @apply appearance-none h-2 rounded-full bg-neutral-900;
  box-shadow: 
    0 1px 2px 1px rgba(0, 0, 0, 0.15) inset,
    0 1px 0 0px rgba(255,255,255,0.1);
}

.inputRange::-webkit-slider-thumb {
  @apply appearance-none h-4 w-4 rounded-full bg-amber-500 cursor-ew-resize outline outline-1 outline-neutral-900;
}

.inputRange::-moz-range-thumb {
  @apply appearance-none h-4 w-4 rounded-full bg-amber-500 cursor-ew-resize outline outline-1 outline-neutral-900 border-none;
}

.inputRange::-webkit-slider-thumb,
.inputRange::-moz-range-thumb {
  box-shadow: 
    0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4),
    0 2px 8px -2px rgba(0,0,0,0.5);
}