.comboboxInput {
  @apply bg-neutral-800 w-full h-8 pl-2 relative
  flex items-center rounded hover:rounded-lg transition-all duration-300 
  focus-within:outline-none focus-within:ring-amber-500/30 focus-within:ring-offset-amber-500 focus-within:ring-4 focus-within:ring-offset-2;
  box-shadow: 
    0 1px 2px 1px rgba(0, 0, 0, 0.15) inset,
    0 1px 0 0px rgba(255,255,255,0.1);
}

.comboboxList {
  @apply absolute top-9 bg-neutral-700/90 inset-x-0 z-20 w-full
  max-h-[24rem] overflow-y-auto rounded-t rounded-b-md p-2
  backdrop-blur-md backdrop-saturate-200 backdrop-brightness-75;
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4),
    0 0.5rem 1.5rem -0.25rem rgba(0,0,0,0.5),
    0 0.25rem 0.75rem -0.125rem rgba(0,0,0,0.5);
}

.comboboxOption {
  @apply px-2 py-1.5 cursor-pointer flex items-center justify-between rounded
  disabled:pointer-events-none mt-1 first:mt-0 bg-transparent;
}
.comboboxOption[data-headlessui-state="disabled"] {
  @apply opacity-60;
}

.comboboxLabel {
  @apply leading-[100%] w-full text-sm ml-2 font-semibold mb-2 block;
}

.comboboxButton {
  @apply ml-1 shrink-0 relative w-8 h-8 bg-neutral-700 rounded-lg hover:brightness-125;
}

.searchBar {
  @apply bg-neutral-900/80 w-full h-8 pl-2 mb-6 sticky -top-4 shrink-0 z-10 overflow-hidden
  flex items-center rounded hover:rounded-lg transition-all duration-300 
  focus-within:outline-none ring-amber-500/30 focus-within:ring-offset-amber-500 focus-within:ring-4 focus-within:ring-offset-2
  backdrop-blur-md backdrop-saturate-200 backdrop-brightness-75;
  box-shadow: 
    0 1px 2px 1px rgba(0, 0, 0, 0.15) inset,
    0 1px 0 0px rgba(255,255,255,0.1);
}

.popOverPanel {
  @apply absolute top-9 -left-2 z-20 bg-neutral-700/70 px-0.5 py-1 min-w-[12rem] rounded-lg
  backdrop-blur-md backdrop-saturate-200 backdrop-brightness-75;
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4),
    0 0.5rem 1.5rem -0.25rem rgba(0,0,0,0.5),
    0 0.25rem 0.75rem -0.125rem rgba(0,0,0,0.5);
}
.popOverOption {
  @apply font-normal w-full shadow-none bg-transparent hover:bg-white/20 hover:brightness-100;
}

.popOverButton {
  @apply px-2 h-8 flex items-center
  hover:brightness-125 rounded hover:rounded-lg transition-all duration-300;
  background-color: rgb(82,82,82) !important;
  box-shadow: 
    0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4),
    0 2px 8px -2px rgba(0,0,0,0.5);
}

.imgPerPageButton,
.imgPerPageButtonSelected {
  @apply flex-1 justify-center bg-neutral-600;
}

.imgPerPageButtonSelected {
  @apply ring-2 ring-amber-400 bg-neutral-800
}

.paginatorButton {
  @apply disabled:pointer-events-none bg-opacity-70 disabled:text-white/30 px-0 items-center justify-center
}